# Ejercicios Ruby - Emanuel Fernandez

## 1. Saltar Escaleras

Quieres calcular la energía mínima en Joules que le llevará completar un juego de *saltar escaleras*. Así es como se juega el juego:

Comienzas desde el primer escalón de la escalera.

* Cada peldaño de la escalera tiene un número escrito que representa el número de peldaños que puedes saltar desde ese punto.
* Cada salto requiere k joules de energía, sin importar cuántos pasos estés saltando.
* El juego termina cuando llegas al último escalón o lo saltas.

Tu tarea es encontrar la energía mínima necesaria para llegar al último escalón o saltarlo, en una escalera de n escalones y un requerimiento de energía de k julios.

Tenga en cuenta lo siguiente:

* $1 <= n,$
* $k<= 90$
* $1<=saltos[i]<=100$
* Los saltos de matriz indican el número de pasos que puede saltar de cada paso.

**Ejemplo 1**
* *Entrada 1 (n): 6*
* *Entrada 2 (k): 4*
* *Entrada 3 (saltos): 1, 2, 3, 4, 5, 6*
* *Salida: 12*

<div class="alert alert-block alert-info">
<b>Explicación:</b> Comenzando desde el primer paso, podemos saltar un paso e ir al segundo, gastando cuatro julios de energía mientras lo hacemos. A partir de ahí podemos saltar dos pasos más, gastando cuatro julios más de energía. Eso nos lleva al cuarto paso, desde el cual podemos saltar cuatro pasos más gastando cuatro julios más de energía. Ahora hemos saltado el último escalón de la escalera. Dado que también necesitamos tres pasos para hacerlo, hemos gastado 12 julios de energía.
</div>

**Ejemplo 2**
* *Entrada 1 (n): 2*
* *Entrada 2 (k): 4*
* *Entrada 3 (saltos): 1, 1*
* *Salida: 4*

# Solucion ejercicio 1

In [121]:
def minEnergy(n, k, jumps)
  # Variable que almacenará el resultado final
  result = 0
  return puts "'n' must be a number larger than 1!" if !(1<=n)
  return puts "'k' must be a number between 1 and 90!" if !(k<=90)
  return puts "'jumps' must be a number between 1 and 100!" if !((jumps>=1) && (jumps<=100))
  
#Solucion usando los saltos
  
#Creamos el arreglo de los saltos
  jumps = [*1..jumps]
  paso = 1
  jumps.each{
    |j|
    result+=k if (j==paso) && (j<n)
    paso = paso + j if j==paso
  }
  
  
  return result
end


#Probando el metodo
n = 6
k = 4
jumps = 8
print("\nThe minimum energy for a stairway of #{n} steps[n], #{k} jules[k] and #{jumps} jumps[jumps] is: #{minEnergy(n,k,jumps)}")

The minimum energy for a stairway of 6 steps[n], 4 jules[k] and 8 jumps[jumps] is: 12

# 2. Teléfono correcto

Usted trabaja para un centro de atención al cliente y se le ha pedido que ayude a actualizar el extenso directorio telefónico de la empresa.

Para verificar qué números de teléfono siguen siendo válidos y cuáles necesitan actualizarse, debe escribir un programa corto que:

* Comprueba si un número de teléfono (dado como cadena str) en la base de datos tiene el formato (XXX) XXX-XXXX.
* Si el número está en el formato correcto, lo devuelve como una cadena continua de 10 dígitos (llamada convertNumber)
* Si el número no está en el formato correcto, devuelve "No"

Tenga en cuenta lo siguiente:

* $1 <= |cadena| <= 100$

**Ejemplo 1**
* *Entrada: (123) 456-7890*
* *Salida: 1234567890*

<div class="alert alert-block alert-info">
<b>Explicación:</b> Dado que la entrada está en el formato correcto, su código la convertirá en una cadena continua de 10 dígitos. El resultado, por lo tanto, es $1234567890$.
</div>



**Ejemplo 2**
* *Entrada: 0151-319723*
* *Salida: No*

<div class="alert alert-block alert-info">
<b>Explicación:</b> Dado que la entrada no está en el formato correcto, su código devolverá el número de salida.
</div>

# Solución ejercicio 2

In [45]:
def convertNumber(str)
  return puts "The string legth must be between 1 and 100!" if !(str.strip.length >=1 && str.strip.length <=100)
  
  return !!(str =~ /^\([0-9]{3}\) [0-9]{3}-[0-9]{4}$/) ? (str.delete("-").delete(" ").delete("(").delete(")")  ):"No"
end

#Testing
puts convertNumber("0151-319723")
puts convertNumber("(123) 456-7890")
puts convertNumber("(123)456-7890")
puts convertNumber("(446) 132-7380")
puts convertNumber("(446) 132-7380 Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo Este es un texto demaisado largo")

No
1234567890
No
4461327380
The string legth must be between 1 and 100!

# Ejercicios MySql

Se tienen las siguientes tablas.

***Inquilino***
- *string :pais,*
- *string :rfc,*
- *string :razon_social,*
- *datetime :created_at,*
- *datetime :update_at*

***Entidad***
- *string rfc,*
- *string razon_social,*
- *datetime :created_at,*
- *datetime :update_at*

***Documento***
-  *integer: id,*
-  *string :tipo_nombre*
-  *string :vendedor_rfc,*
-  *string :comprador_rfc,*
-  *string :numero,*
-  *datetime :fecha_emision*
-  *decimal :cantidad,*
-  *decimal :monto,*
-  *string :estado_fiscal_codigo,*
-  *datetime :created_at*
-  *datetime :update_at*
    
***DocumentoTipo***
-  *string :nombre, unique,*
-  *datetime :created_at,*
-  *datetime :update_at*

Las tablas están relacionadas de la siguiente manera:
El *inquilino* puede tener n documentos ya sea este como *vendedor (vendedor_rfc)* o como *comprador (comprador_rfc)* y la contraparte es un registro en Entidad.


<div class="alert alert-block alert-info">
<b>Explicación: </b>El inquilino es rfc: ABC123456 y genera un documento como vendedor entonces el comprador va relacionado a un registro en Entidad.

<b><i>Inquilino:</i></b>
<ul>
  <li>rfc: ABC123456</li>
  <li>...</li>
</ul>
    
<b><i>Entidad:</i></b>
<ul>
  <li>rfc: XYZ987654</li>
  <li>...</li>
</ul>
    
<b><i>Documento:</i></b>
<ul>
  <li>vendedor_rfc: ABC123456</li>
  <li>comprador_rfc XYZ987654</li>
  <li>...</li>
</ul>
<br>
El documento es de 1 tipo (tipo_nombre) el cual puede ser:
<ul>
  <li>Ingreso</li>
  <li>Egreso</li>
</ul>
<br>
El cual está registrado en DocumentoTipo.

<b><i>DocumentoTipo:</i></b>
<ul>
  <li>nombre: Ingreso</li>
  <li>...</li>
</ul>

<b><i>Documento:</i></b>
<ul>
  <li>tipo_nombre: Ingreso</li>
  <li>vendedor_rfc: ABC123456</li>
  <li>comprador_rfc XYZ987654</li>
      <li>...</li>
</ul>

</div>
<div class="alert alert-block alert-warning">
<b>Nota:</b>Cuando el inquilino sea el vendedor el tipo de documento es Ingreso, cuando es comprador el tipo de documento es Egreso.
</div>



***Ejercicio:***
Crear una query que regrese las facturas de egreso entre dos fechas de emisión:
<div class="alert alert-block alert-success">
<table style="width:50%">
  <tr>
    <th>id</th>
    <th style="width:30%">RFC vendedor</th> 
    <th style="width:30%">monto </th>
      <th>Fecha emision</th>
  </tr>
  <tr>
    <td>1</td>
    <td>ZAS5464877</td>
    <td>4,879.00</td>
      <td>01-01-21</td>
  </tr>
  <tr>
    <td>2</td>
    <td>GHTW562012</td>
    <td>64,454.54</td>
    <td>05-05-22</td>
  </tr>
</table>
</div>

***Ejercicio:***
Crear una query la cual regrese la sumatoria de todos los documentos de ingreso agrupados por comprador, el nombre del comprador debe de estar en mayúsculas aun cuando en el registro no lo esté.
<div class="alert alert-block alert-success">
<table style="width:50%">
  <tr>
    <th>id</th>
    <th style="width:30%">Razon social comprador</th> 
    <th style="width:30%">RFC </th>
    <th>Suma</th>
  </tr>
  <tr>
    <td>1</td>
    <td>WALMART</td>
    <td>WAL985412P45</td>
      <td>541,1564.23</td>
  </tr>
  <tr>
    <td>2</td>
    <td>AMAZON</td>
    <td>AWS666456G15</td>
    <td>5,151.00</td>
  </tr>
</table>
</div>

# Solución ejercicio 3

## Scripts creación tablas

**Tabla documento**

CREATE TABLE `documento` (
  `iddocumento` int NOT NULL AUTO_INCREMENT,
  `tipo_nombre` varchar(45) DEFAULT NULL,
  `vendedor_rfc` varchar(45) DEFAULT NULL,
  `comprador_rfc` varchar(45) DEFAULT NULL,
  `numero` varchar(45) DEFAULT NULL,
  `fecha_emision` datetime DEFAULT NULL,
  `cantidad` decimal(10,0) DEFAULT NULL,
  `monto` decimal(10,0) DEFAULT NULL,
  `estado_fiscal_codigo` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`iddocumento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

**Tabla documento tipo**

CREATE TABLE `documentotipo` (
  `iddocumentotipo` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`iddocumentotipo`),
  UNIQUE KEY `monto_UNIQUE` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

**Tabla entidad**

CREATE TABLE `entidad` (
  `identidad` int NOT NULL AUTO_INCREMENT,
  `rfc` varchar(45) DEFAULT NULL,
  `razon_social` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`identidad`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

**Tabla inquilino**

CREATE TABLE `inquilino` (
  `idinquilino` int NOT NULL AUTO_INCREMENT,
  `pais` varchar(45) DEFAULT NULL,
  `rfc` varchar(45) DEFAULT NULL,
  `razon_social` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idinquilino`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

## Queries

**Ejercicio 1**
*Crear una query que regrese las facturas de egreso entre dos fechas de emisión:*

select iddocumento as ID, vendedor_rfc as "RFC Vendedor", monto as 'Monto',  fecha_emision as "Fecha Emision", (select nombre from documentotipo where iddocumentotipo = tipo_nombre) as 'Tipo Doc'
from documento
where tipo_nombre = '1' and
fecha_emision between 
STR_TO_DATE('01-10-2022 01:20:01' , '%d-%m-%Y %H:%i:%s') and STR_TO_DATE('01-12-2022 01:20:01' , '%d-%m-%Y %H:%i:%s');

**Ejercicio 2**
*Crear una query la cual regrese la sumatoria de todos los documentos de ingreso agrupados por comprador, el nombre del comprador debe de estar en mayúsculas aun cuando en el registro no lo esté.*

SET @row_number = 0;
select  (@row_number:=@row_number + 1) AS ID, e.razon_social as 'Razon social comprador', e.rfc as 'RFC', dt.nombre as 'Tipo Doc', sum(d.monto) as 'Suma'
from documento d inner join documentotipo dt on d.tipo_nombre = dt.iddocumentotipo inner join entidad e on e.rfc = d.comprador_rfc
where dt.iddocumentotipo=1
group by e.rfc, dt.nombre , e.razon_social
;